*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.margin-left {
  margin-left: 0.7rem;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.25rem 1.5rem 0.25rem 1.5rem;
  height: 5rem;
}

.nav {
  display: none;
}

.intro {
  padding: 7rem 1.5rem;
}

.intro-hero {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  max-width: 34rem;
}

.intro-social {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.work {
  padding: 7rem 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 8.8rem;
}

.card {
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}

.card-title {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
}

.dot {
  height: 0.8rem;
  width: 0.8rem;
  border-radius: 50%;
  align-self: center;
}

.card-info {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}

.card__lan {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.card-description {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.75rem;
}

.card__lists {
  padding: 0.25rem 0.75rem;
  align-items: center;
}

.card__button {
  padding: 0.75rem;
  margin: 0.75rem 0;
}

.about {
  padding: 7rem 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.about-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.75rem;
}

.stack {
  display: flex;
  justify-content: space-between;
  padding: 0 1.625rem 1rem 0.75rem;
  align-items: center;
  gap: 0.75rem;
  height: 4rem;
}

.lang {
  display: flex;
  padding: 0.75rem;
  flex-direction: column;
  gap: 0.75rem;
}

.lang-item {
  padding: 0.75rem;
  display: flex;
  align-items: center;
}

.lang-item h4 {
  margin-left: 1rem;
}

.arrow {
  transform: rotate(90deg);
}

.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 7.5rem 2rem 2.5rem;
  gap: 0.75rem;
}

.contact h2 {
  height: 3.5rem;
}

.contact p {
  margin-bottom: 3.2rem;
  max-width: 35rem;
}

.input {
  width: 80vw;
  max-width: 28rem;
  padding: 0.95rem 1rem;
}

.form-items {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

.footer-btn {
  width: 7rem;
  padding: 0.75rem 1rem;
}
