:root {
  --black: #000;
  --gainsboro: #cfd8dc;
  --neutrals-n-0: #fff;
  --neutrals-n-10: #f7f7f9;
  --neutrals-n-40: #dfe1e6;
  --neutrals-n-50: #c1c7d0;
  --neutrals-n-60: #b3bac5;
  --neutrals-n-100: #7a869a;
  --neutrals-n-300: #5e6c84;
  --neutrals-n-400: #505f79;
  --neutrals-n-600: #344563;
  --neutrals-n-700: #253858;
  --neutrals-n-800: #172b4d;
  --cornflower-blue: #6070ff;
  --light-pastel-blue: #7f8cff;
  --primary-b-50: #ebebff;
  --primary-b-100: #cbcdff;
  --primary-b-300: #7f8cff;
  --primary-b-400: #6070ff;
  --primary-b-500: #396df2;
  --midnight-blue: #0d151e;
  --lavender-mist: #ebebff;
  --base-500-secondary: #67798e;
  --deep-blue: #2230d2;
}

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  background-color: var(--neutrals-n-10);
  scroll-behavior: smooth;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.margin-left {
  margin-left: 0.7rem;
}

header,
footer {
  background-color: var(--neutrals-n-0);
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.25rem 1.5rem 0.25rem 1.5rem;
  height: 5rem;
}

.nav {
  display: none;
}

.cancel {
  display: none;
}

.nav.active {
  display: flex;
  flex-direction: column;
  position: fixed;
  left: 0;
  top: 0;
  height: 100vh;
  width: 100vw;
  padding: 2rem 1.85rem;
  gap: 2rem;
  background: var(--cornflower-blue);
  mix-blend-mode: multiply;
  z-index: 99;
  transition: 0.5s;
  backdrop-filter: blur(6px);
}

nav li a {
  color: var(--neutrals-n-0);
  font: 600 2rem/2.75rem Poppins, sans-serif;
}

.close {
  align-self: flex-end;
}

.close a {
  font: 400 2rem/2.5rem Poppins, sans-serif;
}

.intro {
  background: url(./images/header-bg.svg) var(--neutrals-n-0);
  background-size: cover;
  border-bottom-left-radius: 5rem;
  padding: 7rem 1.5rem;
}

.intro-hero {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  max-width: 34rem;
}

.intro-hero h1 {
  color: var(--neutrals-n-800);
  font: 700 2.5rem/3.25rem Poppins, sans-serif;
}

.intro-hero p {
  color: var(--neutrals-n-600);
  font: 400 1rem/1.5rem Poppins, sans-serif;
}

.intro-hero h3 {
  color: var(--primary-b-300);
  font: 500 1rem/1.5rem Poppins, sans-serif;
}

.intro-social {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.work {
  background-color: var(--neutrals-n-10);
  padding: 7rem 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 8.8rem;
}

.card {
  background-color: var(--neutrals-n-0);
  border: 1px solid var(--neutrals-n-40);
  border-radius: 1.5rem;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}

.card-title {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
}

.card-title h3 {
  color: var(--neutrals-n-800);
  font: 700 2rem/2.75rem Poppins, sans-serif;
}

.card__tags {
  display: flex;
  gap: 0.75rem;
}

.dot {
  background-color: var(--neutrals-n-50);
  height: 0.8rem;
  width: 0.8rem;
  border-radius: 50%;
  align-self: center;
}

.card__items--dark {
  color: var(--neutrals-n-600);
  font: 600 0.8125rem/1rem Poppins, sans-serif;
}

.card__items {
  color: var(--neutrals-n-100);
  font: 600 0.8125rem/1rem Poppins, sans-serif;
}

.card-info {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}

.card-description {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.75rem;
}

.card-info p {
  color: var(--neutrals-n-600);
  font: 400 0.9375rem/1.5rem Poppins, sans-serif;
}

.card__lan {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.card__lists {
  border-radius: 0.5rem;
  background: var(--primary-b-50);
  color: var(--primary-b-400);
  font: 500 0.75rem/1rem Poppins, sans-serif;
  padding: 0.25rem 0.75rem;
  align-items: center;
}

.card__button {
  border-radius: 0.5rem;
  border: 1px solid var(--primary-b-400);
  color: var(--primary-b-500);
  background-color: var(--neutrals-n-0);
  text-align: center;
  font: 500 1.0625rem/1.5rem Poppins, sans-serif;
  padding: 0.75rem;
  margin: 0.75rem 0;
}

.card__button:hover {
  color: var(--neutrals-n-0);
  background: var(--cornflower-blue);
}

.card__button:active {
  background: var(--deep-blue);
  color: var(--white);
}

.card__button:disabled {
  background: var(--neutrals-n-0);
  color: var(--neutrals-n-300);
}


.card__items {
  position: relative;
  padding-left: 20px; /* To make space for the dot */
  margin-bottom: 5px;
}

.card__items:first-child {
  padding-left: 0;
  color: var(--neutrals-n-600);
}

.card__items::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 8px;
  height: 8px;
  border-radius: 50%;
}

.card__items:nth-child(2):before {
  background-color: var(--neutrals-n-50, #C1C7D0);
}

.card__items:nth-child(3)::before {
  background-color: var(--neutrals-n-50, #C1C7D0);
}
.card__tags {
  list-style: none;
  padding: 0;
  margin: 0;
}




/* styles.css (or your preferred CSS file) */

/* Styles for the overlay */
.modal-overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* background-color: rgba(0, 0, 0, 0.8); */
  background-color: var(--neutrals-n-50);
  mix-blend-mode: multiply;
  backdrop-filter: blur(6px);
  z-index: 9998;
}

/* Styles for the modal container */
.modal-container {
  display: none;
  position: fixed;
  top: 10%;
  left: 10%;
  width: 80%;
  height: 80%;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  z-index: 9999;
  overflow: auto;
  padding: 1rem;
  /* display: inline-flex;
padding: 1rem;
flex-direction: column;
align-items: center;
gap: 0.75rem;
border-radius: 1rem;
border: 1px solid var(--neutrals-n-40, #DFE1E6);
background: var(--neutrals-n-0, #FFF); */
}

/* Styles for the modal content */
.modal-content {
  height: 100%;
  position: relative;
  color: var(--neutrals-n-600, #344563);
  font-family: Poppins;
  font-size: 0.9375rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5rem; /* 160% */
}

/* Style for the close button */
.close-btn {
  color: var(--base-500-secondary);
  font-size: 24px;
  font-weight: bold;
  position: absolute;
  /* top: 10px; */
  right: 5px;
  cursor: pointer;
}
.about {
  background-color: var(--neutrals-n-0);
  border-top-right-radius: 5rem;
  padding: 7rem 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.about-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.75rem;
}

.about-info h2 {
  color: var(--neutrals-n-800);
  font: 700 2.5rem/3.25rem Poppins, sans-serif;
}

.about-info p {
  color: var(--neutrals-n-600);
  font: 400 1rem/1.5rem Poppins, sans-serif;
}

.about-info h3 {
  color: var(--primary-b-300);
  font: 500 1rem/1.5rem Poppins, sans-serif;
}

.stack {
  display: flex;
  justify-content: space-between;
  padding: 0 1.625rem 1rem 0.75rem;
  align-items: center;
  gap: 0.75rem;
  height: 4rem;
}

.stack__item {
  color: var(--black);
  font: 500 1.25rem/1.5rem Poppins, sans-serif;
}

.stack h3 {
  color: var(--black);
  font: 500 1.25rem/1.5rem Poppins, sans-serif;
}

.lang {
  display: flex;
  padding: 0.75rem;
  flex-direction: column;
  gap: 0.75rem;
}

.lang-item {
  border-radius: 0.5rem;
  background: var(--neutrals-n-10);
  padding: 0.75rem;
  display: flex;
  align-items: center;
}

.lang-item h4 {
  margin-left: 1rem;
}

.arrow {
  transform: rotate(90deg);
}

.border {
  border-bottom: 1px solid var(--neutrals-n-40);
}

.wrapper {
  background: url(./images/footer-bg.svg) var(--primary-b-400) top right
    no-repeat;
  border-top-left-radius: 10rem;
}

.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 7.5rem 2rem 2.5rem;
  gap: 0.75rem;
}

.contact h2 {
  color: var(--neutrals-n-0);
  text-align: center;
  font: 700 2.5rem/3.25rem Poppins, sans-serif;
  height: 3.5rem;
}

.contact p {
  color: var(--primary-b-50);
  text-align: center;
  font: 400 1.25rem/1.75rem Poppins, sans-serif;
  margin-bottom: 3.2rem;
  max-width: 35rem;
}

.input {
  background: var(--neutrals-n-0);
  border: 1px solid var(--neutrals-n-40);
  border-radius: 0.5rem;
  width: 80vw;
  max-width: 28rem;
  padding: 0.95rem 1rem;
}

input:focus,
textarea:focus {
  outline-color: var(--primary-b-300);
}

input::placeholder {
  color: var(--neutrals-n-800);
  font: 400 0.9375rem/1.5rem Poppins, sans-serif;
}

.form-items {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

.footer-btn {
  color: var(--primary-b-400);
  font: 500 1.0625rem/1.5rem Poppins, sans-serif;
  border: 1px solid var(--neutrals-n-0);
  text-align: center;
  width: 9rem;
  padding: 0.75rem 1rem;
}

@media screen and (min-width: 768px) {
  nav {
    height: 4.5rem;
    padding: 1rem 4rem;
  }

  .hamburger-btn {
    display: none;
  }

  .close {
    display: none;
  }

  .nav {
    display: flex;
    padding: 0.625rem 0.75rem;
    align-items: center;
    gap: 0.625rem;
  }

  .intro-hero {
    margin: 0 auto;
    max-width: 40rem;
  }

  .nav a {
    color: var(--neutrals-n-600);
    text-align: center;
    font: 500 0.9375rem/1.25 Poppins, sans-serif;
  }

  .intro {
    background: url(./images/header.svg) var(--neutrals-n-0);
    background-size: cover;
    background-repeat: no-repeat;
  }

  .intro-hero h1 {
    max-width: 25rem;
    letter-spacing: 0.02313rem;
    font: 700 3rem/3.75rem Poppins, sans-serif;
  }

  .intro-hero p {
    font: 400 1.25rem/1.75rem Poppins, sans-serif;
  }

  .card {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 'img content';
    gap: 1.3rem;
  }

  .card-img {
    grid-area: img;
    height: 100%;
  }

  .card-info {
    grid-area: content;
    padding: 1.5rem;
  }

  .card:nth-child(even) {
    grid-template-areas: 'content img';
  }

  .about {
    padding: 7rem;
    flex-direction: row;
    margin: 0 auto;
  }

  .about-info {
    flex: 1;
  }

  .about-skills {
    flex: 1.5;
  }

  .lang {
    flex-direction: row;
  }

  .lang-item {
    flex-direction: column;
    gap: 1rem;
    align-items: flex-start;
    width: 5rem;
  }

  .lang-item h4 {
    margin: 0;
  }

  .wrapper {
    background: url(./images/desktop-footer.svg) var(--primary-b-400);
    background-size: contain;
  }

  .footer-btn {
    align-self: center;
  }
}
